@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

div.letter {
    width: 21cm;
    font-size: 10pt;
    background-color: #eee;
}


div.letter p {
    margin-top: 1ex;
}
